
<div class="edit">
<div class="navBar"><div class="innerBar">{{> navBar loggedAndSigned=true}}</div></div>

<h1 class="titleHeader">Take a look who else signed from this city</h1>



<div class="editBox">

<ul>
    {{#rows}}
    <div class="editInputs" ><li class="signerListItems"> <a class="signerListItems" href="{{url}}">{{first}} {{last}}</a> {{age}}  </li></div>
    
    {{/rows}}
</ul></div>
</div>