
<div class="edit">
    
    <div class="navBar"><div class="innerBar">{{> navBar LoggedOut=true}}</div></div>
    
    
    <h1 class="titleHeader">Fac Latinam Magnam De Novo</h1>
    
    <div class="landingContainer">
        
        <div class="imageContainer">
            <label class="landingLabel" >Totally normal looking latin speaking band. That could be you!
            <img class="imageBand" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Corvus_Corax_German_Band.jpeg/452px-Corvus_Corax_German_Band.jpeg" alt="super hip latin speaking band"></label>
            {{!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Christoph_Bernhard_Francke_-_Bildnis_des_Philosophen_Leibniz_%28ca._1695%29.jpg/389px-Christoph_Bernhard_Francke_-_Bildnis_des_Philosophen_Leibniz_%28ca._1695%29.jpg" alt="totally natural hair"> --}}

        </div>
        
        
        <div class="landingText">  
         <h2 class="landingParagraph2">Let's make together Latin the official language of the European Union.</h2>
        <p class="landingParagraph">As dicussions over a more integrated european union intensified over the last decades also the question of an universal administrative language came up. If europe should ever be truly unified, which language should be used to speak across all european borders. What shall be the language of all future european parlamentarian debates. What shall be the language understood by everyone in europe?</p>
        <p class="landingParagraph">A difficult question with few good contenders, as every living european language should be ruled out for neutrality sake. Artificial languages like Esperanto, Elvish or Swiss German are nice tries but too niche to attract widespread support.
        The solution is finding a language, which no one speaks (well), but still everyone knows!</p>
        <p class="landingParagraph">By this point you already know the answer: We have to revive LATIN!!!
        No other language is so deeply rooted in european history and at the same time so dead! Everyone knows a little bit but no one knows how to speak. It will be the new "Broken English" of Europe!!!!
        IT'S A PERFECT FIT!</p>
      <h2 class="landingParagraph2"> Therefore sign now this petition!!</h2>

        
              
        </div>

        <div class="imageContainer2">
            <label class="landingLabel" >You and your best latin speaking friend on a stroll through the park.
                <img class="imageBand" src="https://wolfgangcapito.files.wordpress.com/2013/01/basle-dance-of-death-musician-version-2.jpg" alt="super hip latin speaking band"></label>

            {{!-- <img class="imageDeath" src=" https://pixabay.com/get/gd8278f9dc82e3ec37e1e14951655fabe963bd95d4f00666850fed2ebf0b66fc9a40d879aab147cdf2c77303a29b3d889_640.png" alt="super hip latin speaking band"></label> --}}
            {{!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Christoph_Bernhard_Francke_-_Bildnis_des_Philosophen_Leibniz_%28ca._1695%29.jpg/389px-Christoph_Bernhard_Francke_-_Bildnis_des_Philosophen_Leibniz_%28ca._1695%29.jpg" alt="totally natural hair"> --}}

        </div>
        
       
        
        
        </div>
    
    
    
    </div>
