

<p>Hello welcome to the Log In Page</p>


<form method="POST">
    <label >Please input your email
        <input name="email"/></label>
    
    <label >Please input your password<input name="password" type="password"/></label>
    
    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <label ></label>
    <button id="loginButton" type="submit">Submit</button>
</form>

{{#if noEmail}}
        {{>noEmailFound}}
    {{/if}}
{{#if wrongPassword}}
        {{>wrongPassword}}
    {{/if}}

<a href="./signin">If you don't already have an account sign in here</a>