<div class="edit">
<div class="navBar"><div class="innerBar">{{> navBar LoggedOut=true}}</div></div>

<h1 class="titleHeader">Hello welcome to the Log In Page </h1>

<form method="POST">
    <div class="editBox">


        <div class="editInputs"><label >Please input your email
        <input class="input" name="email"/></label></div>
        <div class="editInputs"><label >Please input your password<input class="input" name="password" type="password"/></label></div>
    
    
    
    
    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <div class="profileEditButton"><button id="loginButton" type="submit">Submit</button></div></div>
    
</form>

{{#if noEmail}}
        {{>noEmailFound}}
    {{/if}}
{{#if wrongPassword}}
        {{>wrongPassword}}
    {{/if}}

<a href="./signin">If you don't already have an account sign in here</a></div>