
<h1>Hello I am on the petition Page</h1>
<form method="POST">
    <input name="first_name"/>
    <input name="last_name"/>
    <input name="signature"/>


    <canvas id="canvas" width="400" height="400"></canvas>
    <button type="submit">Submit</button>
</form>


 {{!-- <input name="signature" type="hidden"/> --}}