<form method="POST">
    <label>Please input your age<input name="age"/></label>
    <label>Please input your city <input name="city"/></label>
    
    <label >Please input your homepage
        <input name="homepage"/></label>
    
  
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

  
    
    <button id="signinButton" type="submit">Submit</button>
</form>