
<div class="edit">
<div class="navBar"><div class="innerBar">{{> navBar ProfileAndSignature=true}}</div></div>

<div class="editBox">
<form method="POST">

    <div class="editInputs"> <label>Please input your age<input class="input" name="age"/></label></div>
    <div class="editInputs"><label>Please input your city <input class="input" name="city"/></label></div>
    <div class="editInputs">  <label >Please input your homepage
        <input class="input" name="homepage"/></label></div>
   
    
     {{#if empty}}
        {{>emptyFields}}
     
    {{/if}}
  
    
  
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

  
    
  <div class="profileEditButton"><button id="signinButton" type="submit">Submit</button></div>  
</form></div></div>