<div class="edit">

<div class="navBar"><div class="innerBar">{{> navBar LoggedOut=true}}</div></div>

<h1 class="titleHeader">Sign Here </h1>

<div class="editBox">

<form method="POST">
  

    <div class="editInputs"><label>Please input your first name<input class="input" name="first_name"/></label></div>
    <div class="editInputs"><label>Please input your last name <input class="input" name="last_name"/></label></div>
    <div class="editInputs"><label >Please input your email
        <input class="input" name="email"/><label >Please input your password<input class="input" name="password" type="password"/></label></label></div>
    <div class="editInputs"></div>
    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    {{#if empty}}
        {{>emptyFields}}
    {{/if}}
    {{#if doubleEmail}}
        {{>emailDuplicated}}
    {{/if}}
    <div class="profileEditButton"><button id="signinButton" type="submit">Submit</button></div>
    
</form>
</div>
<a href="/login">Do you already have an account then switch to Log In!</a>

</div>