<h1>thanks Page</h1>


<p>{{firstName}} {{lastName}} you're the first Person alive to sign this petition.</p>
 <img src="{{imgURL}}" alt="signatureImage">

<a href="/signer">Are you curious who already signed?</a>