<div class="edit">
<div class="navBar"><div class="innerBar">{{> navBar loggedAndSigned=true}}</div></div></div>
 

<h1>thanks Page</h1>


<p>{{firstName}} {{lastName}} you're the first Person alive to sign this petition.</p>
 <img src="{{imgURL}}" alt="signatureImage">




<form method="POST">
   
    
    <button id="deleteSignature" type="submit">Delete your signature</button>
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>


<a href="/profile/edit">Would you like to change your profile?</a>
<a href="/signer">Are you curious who already signed?</a>
<a href="/logout">Logout? Click here</a>